= link_to appointment, class: "list-group-item list-group-item-action" do
  - if appointment.date != Date.today
    %strong="#{appointment.date} "
  %strong="#{appointment.time_start.strftime("%H:%M")} "
  = appointment.client
