%h1.text-center.mb-4.mt-4 Appointment details

.row
  .col-12.col-md-5.offset-md-1
    %table.table.mt-4
      %tbody
        %tr
          %th{scope: "row"} Client
          %td=appointment.client
        %tr
          %th{scope: "row"} Date
          %td=appointment.date
        %tr
          %th{scope: "row"} Time start
          %td=appointment.time_start.strftime("%H:%M")
        %tr
          %th{scope: "row"} Time end
          %td=appointment.time_end.strftime("%H:%M")
        %tr
          %th{scope: "row"} Service
          %td=appointment.service
    .text-center
      = link_to 'Edit', edit_appointment_path(appointment), class: "btn btn-warning"
      = link_to 'Delete', appointment, method: "delete", class: "btn btn-danger", data: {confirm: "Are you sure?"}
      = link_to 'Back', appointments_path, class: "btn btn-primary"
  .col-12.col-md-5
    = render partial: 'reschedule', locals: {appointment: appointment}
