.row
  .col-12.col-md-6.offset-md-3
    = form_for @appointment do |f|
      .form-group
        = f.text_field :client, class: "form-control", placeholder: :client
      .form-group
        = f.text_field :service, class: "form-control", placeholder: :service
      .form-group
        = f.label :date
        = f.date_select :date, class: "form-control", placeholder: :date
      .form-group
        = f.label :time_start
        = f.time_select :time_start, class: "form-control"
      .form-group
        = f.label :time_end
        = f.time_select :time_end, class: "form-control"

      = f.submit 'Save', class: "btn btn-primary"
      = link_to 'Back', appointments_path, class: "btn btn-danger"
