.card
  .card-header Reschedule
  .card-body
    = form_tag schedule_appointment_path(appointment), method: "put" do
      .form-group
        = label_tag "Date"
        = select_date appointment.date, prefix: "appointment[date]"
      .form-group
        = label_tag "Time start"
        = select_time appointment.time_start, prefix: "appointment[time_start]"
      .form-group
        = label_tag "Time end"
        = select_time appointment.time_end, prefix: "appointment[time_end]"
      = submit_tag "Change", class: "btn btn-primary"
