%h1.text-center.mb-4.mt-4 Appointments

- if @appointments.blank?
  .alert.alert-info There are no appointments
- else
  .row
    .col-12.col-md-6.offset-md-3
      .card
        .card-header
          %ul.nav.nav-pills
            %li.nav-item
              %span.nav-link.active All appointments
            %li.nav-item
              = link_to "Today", today_appointments_path, class: "nav-link"
        .card-body
          .mb-4
            = link_to "Delete all", delete_all_appointments_path, class: "btn btn-danger", method: "delete", data: {confirm: "Are you sure?"}
          .list-group
            = render @appointments
