%h1.text-center.mb-4.mt-4 Appointments

.row
  .col-12.col-md-6.offset-md-3
    .card
      .card-header
        %ul.nav.nav-pills
          %li.nav-item
            = link_to "All appointments", appointments_path, class: "nav-link"
          %li.nav-item
            %span.nav-link.active Today
      .card-body
        -if @appointments.blank?
          .alert.alert-info No appointments today
        -else
          %p Are you sick today?
          .mb-4
            = link_to "Push to tomorrow", push_tomorrow_path, class: "btn btn-warning", method: "put"
            = link_to "Cancel all", cancel_today_path, class: "btn btn-danger", method: "delete", data: {confirm: "Are you sure?"}
          .list-group
            = render @appointments
