%nav.navbar.navbar-expand.navbar-light.bg-light
  = link_to 'Appointments', root_path, class: 'navbar-brand'
  %button.navbar-toggler{type: "button", "data-toggle": "collapse", "data-target": "#navbarNav", "aria-controls": "navbarNav", "aria-expanded": "false", "aria-label": "Toggle navigation"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNav
    %ul.navbar-nav
      %li.navbar-item
        = link_to 'All appointments', appointments_path, class: "nav-link"
  = link_to 'New appointment', new_appointment_path, class: "btn btn-primary"
